h1 {
  font-family: impact;
}
input {
  width: 50%;
}
#output {
  display: none;
}

footer {
   background-color: #F3F3F3;
   padding-top: 10px;
   padding-bottom: 0px;
   padding-left: 20px;
   position:fixed;
   bottom:0;
   width:100%;
}

.container {
  margin-top: 20px;
}

.jumbotron {
  background-color: #3E9BE0;
  border-bottom: solid 1px black;
  color: white;
  text-shadow: 2px 2px black;
}

#output li {
  font-size: 15px;
}
